* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #87d2f0;
    background-image:
        linear-gradient(
            rgba(255, 255, 255, 0.270),
            rgba(255, 255, 255, 0.265)
        ), url('backgound.jpg');
    background-position: center;
    background-size: cover;
}
.container {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h2 {
    text-align: center;
    padding: 20px;
    font-size: 35px;
    color: white;
    text-shadow: 5px 5px 20px #000000;
}
.weather-app {
    width: clamp(300px, 90vw, 900px);
    height: clamp(300px, 90vh, 500px);
    margin: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    background-color: #56595c73;
}

.weather-app input{
    width: 50%;
    height: 31px;
    border-radius: 6px;
    box-shadow: 0px 1px 3px 5px rgba(255, 255, 255, 0.25);
    border-style: none;
    padding: 20px;
    font-size: 16px;
    margin: 10px;
    background-color: inherit;
    color: white;
}
input::placeholder,
textarea::placeholder {
    color: #fffdfd;
    opacity: 1; /* important for Firefox */
}
.weather-app input:focus{
    outline: none;
    border: 1px solid rgb(252, 252, 252);
}
.weather-app button{
    width: 20%;
    height: 40px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: #5c5f5c;
    color: white;
    font-size: 15px;
    display: block;
    cursor: pointer;
    background-color: #5c5a5a;
}

.weather-app button:hover{
    background-color: #413f3f;
    transition: 0.3s;
}
